body{
    margin: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: #d1dedd;
}
ul, li{
    padding: 0px;
    list-style-type: none;
}
h1, h2, h3{
    color: #767f7e;
}
p{
    color: #828b8a;
}
header{
    max-width: 1200px;
    margin: 40px auto;
    border-bottom: 1px solid #bbc7c7;

}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 60px;
    max-width: 1200px;
    margin: 20px auto; 
}
.balloon1{
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
    align-items: center;
    border-bottom: 1px solid #bbc7c7;
    padding-bottom: 40px ;

}
article img,article.featured img{
    width: 100%;
    border: 4px solid #fff;
    border-radius: 8px;
}
article p, article h3{
    margin: 20px 10px;
}

/* responsive */

@media screen and (max-width:980px) {
       article{
        grid-column: span 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 60px;
        align-items: center;
       }
}
@media screen and (max-width:760px) {
    .balloon1{
        display: block;
        margin: 0 20px;
    }
}